body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: #F5F5F5;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  letter-spacing: normal;
  line-height: normal;
  font-size: 32px;
  font-family: "Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #A68768;
  white-space: nowrap;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  cursor: inherit !important;
}

ul {
  list-style: none;
  padding: 0;
}

h3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  width: 560px;
  text-align: start;
  color: #F5F5F5;
}

li {
  display: flex;
  align-items:flex-start;
  padding: 10px;
  line-height: normal;
  max-width: 600px;
  width: 560px;
  height: 129px;
  background-color: rgba(74, 99, 130, 1);
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(170, 170, 170, 0.34901960784313724);
  margin: 10px;
  padding: 15px;
}

button {
  background: F2F2F2;
  border: none;
  cursor: pointer;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;

}

.botao_olho{
  display: flex;
  align-self: flex-start;
  margin: 5px;
}

.botao_lixeira{
  display: flex;
  align-self: flex-start;
  margin: 5px;
}



.icon_lixeira{
  color:  rgba(74, 99, 130, 1);
  width: 25px;
  height: 25px;
}


.icon_olho{
  color:  rgba(74, 99, 130, 1);
  width: 25px;
  height: 25px;
}
